name: Enforce PR source branch for master

on:
  pull_request:
    branches:
      - master

jobs:
  check-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Check source branch name
        run: |
          if [[ ! "${{ github.head_ref }}" =~ ^(feature/|hotfix/) ]]; then
            echo "Only feature/* or hotfix/* branches can be merged into master."
            exit 1
          fi

